<div class="bg-white rounded-xl my-4 p-8 w-full">
    <div class="w-full my-4 lg:my-2">
        <p class="text-6xl lg:text-2xl font-bold text-sky-500"><%= message.title %></p>
    </div>
    <div class="py-4 flex justify-start my-8 lg:my-2">
        <p class="text-4xl lg:text-xl"><%= message.text %></p>
    </div>
    <div class="flex w-full items-center h-8 text-2xl lg:text-sm justify-between border-t-2 pt-4 border-gray-200 my-8 lg:my-2">
        <p class="mx-4 text-sky-400"><%= message.user %></p>
        <p class="text-gray-400 mx-4"><%= message.added %></p>
    </div>
</div>