<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <%- include('./partials/header.ejs') %>
     <div class="w-full flex flex-col items-center justify-start min-h-screen p-4 md:px-0 mx-auto bg-gray-300 overflow-x-hidden">
     <a class="border-4 w-full md:w-11/12 lg:w-2/3 border-sky-500 text-sky-500 text-3xl lg:text-lg bg-white hover:text-white mx-auto py-1 flex justify-center items-center text-center rounded-xl hover:bg-sky-500 active:bg-sky-600" href="/add">Add Message</a>
     <div class="w-full md:w-11/12 lg:w-2/3 my-4">
       <% messages.forEach(function(message){ %>
        <%- include('./partials/message',{message:message}) %>
        <% }) %>
     </div>
     </div>
  </body>
</html>
